{:duct.core/project-ns  open-historio
 :duct.core/environment :production

 :duct.module/logging {}
 :duct.module.web/site {}
 :duct.module/sql {}

 :duct.module/ataraxy
 {[:get "/"] [:top]
  "/users" {[:get "/new"] [:user/new]
            [:post {user :params}] [:user/create user]}
  "/subjects" {[:get] [:subject/index]}}

 ;; :open-historio.handler/example {:db #ig/ref :duct.database/sql}
 :open-historio.handler/top {}
 :open-historio.handler.user/new {}
 :open-historio.handler.user/create {:db #ig/ref :duct.database/sql}
 :open-historio.handler.subject/index {:db #ig/ref :duct.database/sql}

 :duct.migrator/ragtime
 {:migrations [#ig/ref :open-historio.migration/create-users]}}
