{:duct.core/project-ns  open-historio
 :duct.core/environment :production

 :duct.module/logging {}
 :duct.module.web/site {}
 :duct.module/sql {}

 :duct.module/ataraxy
 {[:get "/"] [:top]
  "/accounts" {[:get "/new"] [:account/new]
               [:post {account :params}] [:account/create account]}
  "/subjects" {[:get] [:subject/index]}}

 :open-historio.handler/top {}
 :open-historio.handler.account/new {}
 :open-historio.handler.account/create {:db #ig/ref :duct.database/sql}
 :open-historio.handler.subject/index {:db #ig/ref :duct.database/sql}

 :duct.migrator/ragtime
 {:migrations [#ig/ref :open-historio.migration/create-accounts
               #ig/ref :open-historio.migration/create-sessions]}

 [:duct.migrator.ragtime/sql :open-historio.migration/create-accounts]
 {:up [#duct/resource "open_historio/migrations/create-accounts.up.sql"]
  :down [#duct/resource "open_historio/migrations/create-accounts.down.sql"]}
 [:duct.migrator.ragtime/sql :open-historio.migration/create-sessions]
 {:up [#duct/resource "open_historio/migrations/create-sessions.up.sql"]
  :down [#duct/resource "open_historio/migrations/create-sessions.down.sql"]}}
