.subject {
  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    background: $primary;
    left: 1.05rem;
    width: 5px;
    z-index: -1;
  }
}

.time {
  & > i {
    color: $gray;
    border: .5rem solid $gray;
    border-radius: 50%;
    padding: .25rem;
    background-color: #ffffff;
  }
}

.event {
  & + .event {
    margin-top: 1rem;
  }
  & > i {
    color: $primary;
    border: .5rem solid $primary;
    border-radius: 50%;
    padding: .25rem;
    background-color: #ffffff;
  }
}
